* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.header {
    z-index: 100;
    position: fixed;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #c8cbcc;
}

.header .buy-now {
    padding: 90px;
    /* height: 50px; */
    background: #dc3545;
    border-radius: 0px 0px 100px 100px;
    width: 0px;
    margin-right: 70px;
}

.header .buy-now a {
    font-size: 23px;
    color: white;
    padding: 14px;
    transform: translateX(-72px);
    position: absolute;
}

.header .buy-now a:hover {
    color: black;
}

.head-title {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.head-title img {
    width: 50px;
}

.content {
    padding: 85px 255px 125px 255px;
    height: fit-content;
}

.img-utama1 {
    padding-top: 32px;
    height: 495px;
    background: no-repeat;
    /* background-image: url(https://images.vans.com/is/image/VansBrand/FA21_WadeGoodall_1390x556_SurfSecondary?wid=1390); */
    /* background-position: top; */
}

.img-couple {
    display: flex;
    padding-top: 30px;
    text-align: center;
}

.img-couple img {
    width: 90%;
}


.img-couple p {
    margin: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: xxx-large;
    -webkit-text-stroke-width: medium;

}

.img-vendor-logo {
    justify-content: space-around;
}

.img-vendor-logo .col-4 {
    width: fit-content;
}

.img-vendor-logo img {
    object-fit: contain;
    width: 240px;
    height: 240px;
}

    /* .img-vendor-logo .col-4:nth-child(3) {
        width: fit-content;
    } */

.rounded-vendor {
    
}

.title-content {
    padding: 67px 0px 20px 0px;
    font-size: xxx-large;
}

.card {
    width: 100%;
    height: fit-content;
    border: 0 !important;
}

.card .card-header {
    padding: 0;
    border: 0;
    background-color: lightgrey;
    height: 350px;
    /* width: 400px; */
    position: relative;
    /* height: ; */
}

.card .card-header img {
    height: 115px;
    object-fit: cover;
}


.container-detail-product {
    background: linen;
    height: 600px;
}

.container-product {
    background: lightgrey;
    margin: 40px 0px 0px 40px;
}

.nama-product {
    font-size: xx-large;
    padding-top: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}

.harga-product {
    font-size: larger;
    color: indianred;
}



.warna-product {

}

.buy-button {
    width: 100px;
    margin-top: 49px;
}

.size-product select {
    width: 50%;
}

.size-product .form-control {
    width: 20%;
}

.size-product span {
    align-self: center;
    width: 50px;
}

.card .card-header .label {
    text-align: right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background: white;
    margin: 10px;
    padding: 5px;
    font-style: italic;
}


.card .card-header img {
    border: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card .card-content {
    height: fit-content;
    padding: 20px 0px 0px 10px;
}

.card .card-content p {
    opacity: 0.8;
}

.card .card-content p:nth-child(1) {
    font-size: 18px;
}

.card .card-content p:nth-child(2) {
    font-size: 16px;
}

.product-list {
    color: black;
    text-decoration: none;
}

.shipping-product {
    border-bottom-style: inset;
    padding-bottom: 10px;
}

.shipping-product .product-harga {
    color: darkred;
    align-self: center;
    width: 125px;
}

.shipping-product img {
    width: 60%;
}

.shipping-product .product-img {
    width: 160px;
    background: lightgrey;
    height: 80px;
    border-radius: 15px;
}

.shipping-product .product-name {
    padding: 0px 0px 0px 10px;
    color: grey;
    align-self: center;
    width: 200px;
}

.shipping-product .product-qty {
    align-self: center;
    width: 60px;
}

.shipping-title {
    font-size: 18px;
}

.payment-method {
    padding-bottom: 25px;
}

.payment-title {
    margin-bottom: 0;
    padding: 20px 0px 10px 0px;
    font-size: 18px;
}

.subtotal {
    margin-top: 265px;
}

.subtotal div:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
}

.subtotal div:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

hr {
    color: #0000004f;
    margin-top: 5px;
    margin-bottom: 5px
}

.add td {
    color: #c5c4c4;
    text-transform: uppercase;
    font-size: 12px
}

.content {
    font-size: 14px
}

.img-flag {
    width: 30px !important;
}

.profile .profile-header {
    padding: 0;
    border: 0;
    /* height: 350px; */
    /* width: 400px; */
    position: relative;
    /* height: ; */
}

.profile .profile-content {
    height: fit-content;
    padding: 20px 10px 0px 10px;
}

.profile .profile-content p {
    opacity: 0.8;
}

.profile .profile-content p:nth-child(1) {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.profile .profile-content p:nth-child(2) {
    font-size: 15px;
}

.footer-content {
    background: #111111;
    height: 170px;
    padding: 0px 255px 0px 255px;
    display: flex;
}

.footer-img{
    place-self: center;
    background: white;
    border-radius: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-img div:nth-child(2){
    place-self: center;
    padding-right: 30px;
}

.footer-img .fa-instagram {
    color: palevioletred;
}

.footer-img img{
    width: 80px;
}

.footer-img span{
    font-size: 20px;
    font-weight: bold;
}

.footer-copy {
    background: white;
    height: 20px;
}

.footer-copy p {
    background: white;
    height: 40px;
    text-align: center;
    white-space: pre;
    font-size: 14px;
    padding-top: 10px;
}